/* 스크롤바숨기기 */
@mixin noScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}

/* 말줄임소스 */
@mixin elip{display: block;
    text-overflow: ellipsis;
}

/* 미디어쿼리 */
$mobile: 767px; //모바일사이즈

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}
