@font-face{
	font-family: 'Gilroy';
	src: url(../font/Gilroy-Regular.woff2) format('woff2');
	font-weight: 400;
}
@font-face{
	font-family: 'Gilroy';
	src: url(../font/Gilroy-Medium.woff2) format('woff2');
	font-weight: 500;
}
@font-face{
	font-family: 'Gilroy';
	src: url(../font/Gilroy-SemiBold.woff2) format('woff2');
	font-weight: 600;
}
@font-face{
	font-family: 'Gilroy';
	src: url(../font/Gilroy-Bold.woff2) format('woff2');
	font-weight: 700;
}
@font-face{
	font-family: 'NotoSansKR';
	src: url(../font/NotoSansKR-Light-Hestia.woff) format('woff');
	font-weight: 300;
}
@font-face{
	font-family: 'NotoSansKR';
	src: url(../font/NotoSansKR-Regular-Hestia.woff) format('woff');
	font-weight: 400;
}
@font-face{
	font-family: 'NotoSansKR';
	src: url(../font/NotoSansKR-Medium-Hestia.woff) format('woff');
	font-weight: 500;
}
@font-face{
	font-family: 'Malgun Gothic';
	src: url(../font/NotoSansKR-Bold-Hestia.woff) format('woff');
	font-weight: 700;
}		