/* footer */
.footer{margin: 0;
    background: #fafafa;
    padding: 40px 16px 40px;
    color: #555;}

/* cs */
.footer-cs{padding-bottom: 30px;
    .center{    font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        padding-bottom: 15px;}
    .num{    font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        padding-bottom: 10px;}
    .hour{    font-size: 13px;
        line-height: 16px;
        font-weight: 400;}
}

/* sns */
.footer-sns{    width: 150px; 
    .link-sns{display: inline-block;
        margin-right: 25px;}
    .ic-facebook{width: 12px; height: 22px;}
    .ic-youtube{width: 22px; height: 22px;}
    .ic-insta{width: 22px; height: 22px;}
}

/* 서비스 */
.footer-service .service-list{padding: 30px 0 30px;}
.footer-service .service-item{position: relative;
    display: inline-block;
    padding-right: 10px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 1.7;
    color: #777;
    font-weight: 700;

    &::after{content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background: #ccc;}  
    }
  

/* 정보 */
.footer-info{
    .addr-area{display: inline-block;
        font-size: 11px;
        line-height: 21px;
        font-weight: 400;
        color: #777;}
    .addr-area .bar{width: 1px;
        height: 10px;
        background: #ccc;
        margin: 0 10px;
        content: "";
        display: inline-block;}
    .copy{font-size: 11px;
        line-height: 13px;
        letter-spacing: -0.02em;
        color: #777;
        padding: 30px 0 0;
        font-weight: 700;}
    .copy .txt{
        font-size: 11px;
        line-height: 21px;
        font-weight: 400;
        color: #777;}
}


/* 로고 */
.footer-logo .logo-list{margin-top: 24px;}
.footer-logo .logo-item{display: inline-block; // 옆으로정렬 
    vertical-align: bottom;
    margin-right: 22px;
    .fair{display: block; width: 45px;}
    .sym{display: block;width: 36px;}
    .kg{display: block; width: 27px;}
}