/* 메인 */
.container{}
.sc-main{height: 708px;}
.sc-main .swiper-main{height: 100%; position: relative;}
.sc-main .swiper-wrapper{}
.sc-main .swiper-slide{}
.sc-main .main-img{    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.sc-main .main-img img{    height: inherit;
    width: 100%;
    object-fit: cover;}    
.sc-main .main-txt{
    position: absolute; /* 사진안에 위치조정 */
    bottom: 13%; 
    left: 35px;
    width: 100%;
    height: auto;
    }
.sc-main .main-txt .title{    font-weight: 700;
    font-size: 30px;
    line-height: 1.25;
    letter-spacing: -1.3px;
    color: #fff;}
.sc-main .main-txt .desc{    font-weight: 400;
    padding-top: 15px;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #fff;}
    
 /* pagination */   
.sc-main .pagination{
    z-index: 20;
    position: absolute;
    bottom: 37px;
    text-align: center;
    }
.swiper-pagination-bullet{
border-radius: 0;
background: #fff;
margin: 0 !important;
width: 20px;
height: 2px;
opacity: 0.3;
}
.swiper-pagination-bullet-active{opacity: 1;}



/* 베스트 */
.sc-best{}
.sc-best .best-list{
display: flex;
flex-wrap: wrap;
}
.sc-best .best-item{padding-bottom: 50px; 
    width: calc(50% - 5px); /* 문제해결 2줄로 정렬 w50%으로 하고 jssb로 시도하니까 w100이안되서 안커짐 */
}
.sc-best .best-item:nth-child(2n){margin-left: 10px;}

/* 문구 */
.sc-best .best-img{position: relative;}
.sc-best .best-txt{padding: 15px 5% 0;}
.review{display: block;
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #8e1f29;}
.pd-title{padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 17px;}
.price{padding: 0;}
.percent{color: #8E1F29;
    font-weight: 600;
    margin-right: 5px;
    vertical-align: top;
    font-size: 15px;
    letter-spacing: -0.03em;
}
.real{ 
    padding: 0;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -0.03em;
    vertical-align: top;}
.past{font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #8d8d8d;
    margin-left: 5px;
    text-decoration: line-through;
}
   
.color{font-size: 13px;
    line-height: 11px;
    letter-spacing: -0.05em;
    color: #999;
    font-weight: 500;
    padding-top: 9px;}
.extra-box{margin-top: 5px; padding-top: 8px;}
.extra{
    color: #8e1f28;
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
    letter-spacing: -0.05em;
    border: 1px solid rgba(142,31,41,0.5);
    padding: 5px 6px;
    display: inline-block;
    box-sizing: border-box;
}

.badge{position: absolute;
    top: 0;
    right: 0;
    } 
.badge .badge-new img{width: 47px; height: 26px;}


/* 바로가기 버튼 */
.best-btn{padding: 0 38px;
    box-sizing: border-box;
    margin-bottom: 65px;}
.best-btn .best-link{display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background: #fff;
    font-size: 15px;
    color: #222;
    font-weight: 500;
    text-align: center;} 
.best-btn .best-link::after{    display: inline-block;
    vertical-align: text-bottom;
    padding-left: 5px;
    width: 19px;
    height: 19px;
    background: url(../image/bestlink.png) no-repeat;
    background-size: 19px auto;
    background-position: center;
    content: '';}    


/* 쿠폰 */
.sc-coupon{width: 100%;
    margin: -20px auto 20px;
}


/* 상품설명 */
.sc-product{}
.product-item+.product-item{padding-top: 40px;}
.explain-txt{padding: 20px 16px 20px;
    box-sizing: border-box;}
.explain-txt .title{font-size: 26px;
    line-height: 35px;
    color: #333;
    letter-spacing: -0.05em;
    font-weight: 700}
.explain-txt .desc{padding: 14px 0 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #333;
    font-weight: 400;}
.explain-txt .explain-link{display: inline-block;
    background-color: #1e1e1e;
    border-radius: 2px;
    border: 1px solid #1e1e1e;
    box-sizing: border-box;
    color: #fff;
    padding: 8px 47px 8px 18px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    font-weight: 500;
    background-image: url(../image/exlink.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: calc(100% - 18px) center;}

/* 제품 */
.product-goods{padding: 0 16px;
    box-sizing: border-box;
    }
.goods-item{display: flex; padding: 20px 0;
    position: relative;
}
.goods-item:first-child::after{    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    display: block;
    position: absolute;
    bottom: 0;}
.goods-img{width: 110px;
    height: 165px;
object-fit: cover;}
.goods-txt{margin-left: 30px;}


/* 브랜드 */
.sc-brand{padding: 20px 0;}
.sc-brand .inner{padding: 56px 20px;
    background-color: #C86733; color: #fff;}
.brand-area{}
.brand-area .story{
    font-size: 18px;
    letter-spacing: -0.5px;
    margin: 0 auto 10px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1.5px solid #fff;
    padding-bottom: 5px;
    line-height: 1.2;}
.brand-area .title{    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.03em;
    font-weight: 700;}
.brand-area .desc{padding: 10px 0 5px;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 400;}
.brand-area .more{display: inline-block;
    width: 100px;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #fff;}


/* 레깅스 브라탑 세트 */
.sc-leggings{padding-left: 20px; position: relative;}
.swiper
.swiper.leggings{}

.sc-bratop{padding-left: 20px; position: relative;}
.swiper.bratop{}

.sc-set{padding-left: 20px; position: relative; padding-top: 8px;}
.swiper.set{}

.more-link{position: absolute;
    display: inline-block;
    top: 30px;
    right: 5%;
    padding: 0 5px;
    font-size: 14px;
    line-height: 1.5;
    vertical-align: middle;
}
.more-link::after{    
    position: absolute;
    width: 15px;
    height: 11px;
    right: -14px;
    bottom: 5px ;
    background-image: url(../image/morelink.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: center;
    content: '';}    

.group-swiper{display: block;}
.group-swiper .swiper-wrapper{}
.group-swiper .swiper-slide{}
.group-swiper .swiper-img{}
.group-swiper .swiper-txt{padding: 15px 5% 0;}


/* 멤버십 오프라인 */
.sc-member{padding-top: 70px;}
.sc-member .inner{    padding: 65px 20px;
    box-sizing: border-box;
    background: url(../image/member.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

.sc-offline{margin-top: 10px;} 
.sc-offline .inner{padding: 65px 20px;
    box-sizing: border-box;
    background: url(../image/offline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

.group-txt .title{font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #fff;}
.group-txt .desc{font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 15px 0 30px;
    box-sizing: border-box;}
.group-txt .more{    border: 1px solid #fff;
    padding: 7px 25px 8px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    display: inline-block;
    box-sizing: border-box;}






